<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KARBAR</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css"/>
    <link rel="icon" href="#" type="image/x-icon">

</head>

<body>
    <header>
      <h2>This Is Header</h2>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <h2>This is Footer</h2>
    </footer>
</body>
</html>